@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
  display: flex;
  flex-direction: column;
  background-color:#222629;
  padding: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  border: 2px solid #57ba98;
}

h1 {
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  margin: 20px auto;
}

#create-button {
  background-color: #57ba98;
  font-family: 'Playfair Display', serif;
  font-size: 30px; 
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 1px #57ba98 solid;
  letter-spacing: 2px;
  font-weight: bold;
}

#create-button img {
  max-width: 100%;
  margin: 0;
  border: none;
}

textarea {
  resize: none;
}

.filter-results{
  color: #ffffff;
}

a{
  color: #fff;
  background-color: rgba(69, 67, 131, 0.884);
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: default;
  text-decoration: none;
  margin-right: 2rem;
  display: block;
  width: 4.9rem;
}

#filter-results {
  margin-bottom: 10px;
}

.bookmark-element {
  border-style: solid;
  border-color: #57ba98;
  border-radius: 15px;
  border-width: 1px;
  background-color: #57ba98;
  margin: 10px;
  padding: 20px;
}

.bookmark-element *, #create-view * {
  font-family: 'Playfair Display', serif;
}

.bookmark-section {
  margin-bottom: 20px;
  word-wrap: break-word;
}

.bookmark-buttons {
  margin-bottom: 0;
}

.bookmark-rating {
  display: flex;
}

.star-rating {
  margin-left: 20px;
}

.star-rating img {
  width: 20px;
}

.expand-prompt {
  display: block;
  text-align: center;
}

.delete-button {
  background-color: #222629;
  text-align: center;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 25px; 
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 2px #ffffff solid;
}

.bookmark-buttons img {
  height: 30px;
  margin: 0;
}

#create-view {
  text-align: center;
  background-color: #57ba98;
}

#create-view h2 {
  text-align: center;
}

#create-view form {
  display: inline-block;
  text-align: left;
}

#create-view .form-field {
  margin-left: 20px;
  margin-bottom: 15px;
  vertical-align: middle;
}

#create-view input[type=text], input[type=url], textarea {
  width: 100px;
}


#create-view label {
  display: inline-block;
  width: 100px;
}


#create-view .button-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

/* +++++++++++++++ MEDIUM & BIG MEDIAS +++++++++++++++++++ */
@media all and (min-width: 600px) {

  #create-view .form-field {
    margin-left: 0;
  }
  #create-view .form-field * {
    vertical-align: middle;
  }
  
  #create-view label {
    display: inline-block;
    width: 100px;
  }
  
  #create-view input[type=text], input[type=url], textarea {
    width: 300px;
  }
  
  #create-view textarea {
    height: 100px;
  }
  
  #create-view .button-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }
}

